@model BudgetiFi.Models.DebtDetail

@{
    ViewData["Title"] = "Profile";
}


    <div class="container pTop content">
        <div class="stats2">


            <div class="row">
                <div class="col-xs-6 text-right">
                    <h4 class="debtDetail-text">Total Debt:</h4>
                </div>
                <div class="col-xs-6 text-left">
                    <kbd class="h4 count">&nbsp;@ViewBag.TotalDebt.ToString("C")</kbd>
                </div>



            </div>
        </div>
       


        <table class="table table-striped">
            <thead>
                <tr>

                    <th scope="col">Type Of Debt</th>

                    <th scope="col">Total</th>
                    <th scope="col">Total Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>Credit Cards</td>
                    <td class="font-weight-bold">@ViewBag.NumberOfCreditCard</td>
                    <td class="font-weight-bold">@ViewBag.TotalCreditCard.ToString("C")</td>
                </tr>
                <tr>

                    <td>Student Loans</td>
                    <td class="font-weight-bold">@ViewBag.NumberOfStudentLoan</td>
                    <td class="font-weight-bold">@ViewBag.TotalOfStudentLoan.ToString("C")</td>
                </tr>
                <tr>

                    <td>Mortgage</td>
                    <td class="font-weight-bold">@ViewBag.NumberOfMortgage</td>
                    <td class="font-weight-bold">@ViewBag.TotalMortgage.ToString("C")</td>
                </tr>
                <tr>

                    <td>Auto Loans</td>
                    <td class="font-weight-bold">@ViewBag.NumberOfAutoLoan</td>
                    <td class="font-weight-bold">@ViewBag.TotalAutoLoan.ToString("C")</td>
                </tr>
                <tr>

                    <td>Other Loans</td>
                    <td class="font-weight-bold">@ViewBag.NumberOfOtherLoan</td>
                    <td class="font-weight-bold">@ViewBag.TotalOtherLoan.ToString("C")</td>
                </tr>
                <tr>

                    <td>Medical Bills</td>
                    <td class="font-weight-bold">@ViewBag.NumberOfMedicalBills</td>
                    <td class="font-weight-bold">@ViewBag.TotalMedicalBills.ToString("C")</td>
                </tr>
            </tbody>
        </table>



    </div>
